{{ define "title" -}}{{ .Title }} - {{ .Site.Title }}{{- end }}
{{ define "main" -}}
  <div class="row justify-content-around">
    <article class="col-lg-8">
      <header class="my-3 border-bottom pb-1">
        <h1>{{ .Title }}</h1>
        <div>
          <span>
            {{ .Date.Format (.Site.Params.dateFormatToUse | default "2006-01-02") }}
          </span>
          {{ with .Params.categories -}}
            <div>
              {{ range . -}}
                <a href="{{ "categories" | relLangURL }}/{{ . | urlize }}/">
                  {{ . }}
                </a>
              {{ end -}}
            </div>
          {{- end }}
          {{- if .Site.Params.moreMeta }}
            <span> {{ i18n "wordCount" .WordCount }} </span>
            <span>
              {{ i18n "readingTime" .ReadingTime }}
            </span>
          {{- end }}
        </div>
      </header>
      <div>{{ .Content }}</div>
    </article>
  </div>
{{- end }}
