{{ define "title" -}}{{ .Title }} - {{ .Site.Title }}{{- end }}
{{ define "main" -}}
  <article>
    <div class="row justify-content-lg-center">
      <header class="col-lg-10 my-3 border-bottom pb-3">
        <h1>{{ .Title }}</h1>
        <div class="text-secondary">
          <span>
            {{ .Date.Format (.Site.Params.dateFormatToUse | default "2006-01-02") }}
          </span>
          {{ with .Params.categories -}}
            <div>
              {{ range . -}}
                <a href="{{ "categories" | relLangURL }}/{{ . | urlize }}/">
                  {{ . }}
                </a>
              {{ end -}}
            </div>
          {{- end }}
          {{- if .Site.Params.moreMeta }}
            <span> {{ i18n "wordCount" .WordCount }} </span>
            <span>
              {{ i18n "readingTime" .ReadingTime }}
            </span>
          {{- end }}
        </div>
      </header>
    </div>
    <div class="row justify-content-lg-center">
      {{ $showTOC := false }}
      {{ with .TableOfContents }}
        {{ if ne . "<nav id=\"TableOfContents\"></nav>" }}
          {{ $showTOC = true }}
          <aside class="col-lg-2 order-lg-last mb-3">
            <div class="border rounded-3 sticky-top pe-3">
              <h2 class="text-center fs-5 mt-2">{{ i18n "TOC" }}</h2>
              {{ . }}
            </div>
          </aside>
        {{ end }}
      {{ end }}
      <div class="col-lg-{{ if $showTOC }}8{{ else }}10{{ end }}">
        {{- partial "caution.html" . -}}
        {{ .Content }}
      </div>
    </div>
  </article>
{{- end }}
