:root {
  --body-padding-top: 76px;
}
html {
  scroll-padding: var(--body-padding-top) 0 0 0;
}
body {
  padding-top: var(--body-padding-top);
}
.iconfont {
  width: 2rem;
  height: 2rem;
  vertical-align: -0.15rem;
  fill: currentColor;
  overflow: hidden;
}
code,
pre {
  unicode-bidi: normal;
  margin-bottom: 0;
}
.sticky-top {
  top: var(--body-padding-top);
}

#TableOfContents a {
  text-decoration: none;
}

article img {
  max-width: 100%;
  height: auto;
}

article figure {
  text-align: center;
}

article figure figcaption h4 {
  font-size: 1rem;
  --bs-text-opacity: 1;
  color: rgba(var(--bs-secondary-rgb), var(--bs-text-opacity));
  margin-top: 0.5rem;
}

article div.highlight {
  margin-bottom: 1rem;
}

.svg-icon {
  margin-top: -3px;
}
