:root {
  --body-padding-top: 76px;
}
html {
  scroll-padding: var(--body-padding-top) 0 0 0;
}
body {
  padding-top: var(--body-padding-top);
}
.iconfont {
  width: 2rem;
  height: 2rem;
  vertical-align: -0.15rem;
  fill: currentColor;
  overflow: hidden;
}
code,
pre {
  unicode-bidi: normal;
  margin-bottom: 0;
}
.highlight {
  margin-bottom: 1rem;
}

.sticky-top {
  top: var(--body-padding-top);
}

#TableOfContents a {
  text-decoration: none;
}
