<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <title>
      {{ block "title" . }}
        {{ if .IsHome }}{{ else }}{{ if .Title }}{{ .Title }} | {{ end }}{{ end }}{{ site.Title }}
      {{ end }}
    </title>
    {{- partial "head.html" . -}}
    {{- partial "custom_head.html" . -}}
  </head>
  <body>
    <header>{{- partial "header.html" . -}}</header>
    <main>
      {{- block "main" . }}
      {{- end }}
    </main>
    <footer>{{- partial "footer.html" . -}}</footer>
    {{- partial "script.html" . -}}
  </body>
</html>
