{{- define "title" }}{{ i18n "archive" }} - {{ .Site.Title }}{{ end -}}
{{- define "main" }}
  <div class="row justify-content-lg-center">
    {{- $paginator := .Paginate .Data.Pages.ByDate.Reverse
      .Site.Params.archivePaginate
    }}
    <section class="col-lg-8">
      <div class="text-center mb-2">
        {{ i18n "archiveCounter" (len .Data.Pages) }}
      </div>
      {{- range $index, $element := $paginator.Pages -}}
        {{- $thisYear
          := $element.Date.Format "2006"
        }}
        {{- $lastElement := $index | add -1 | index
          $paginator.Pages
        }}
        {{- if or (eq $index 0) ( ne ($lastElement.Date.Format
          "2006") $thisYear )
        }}
          <div class="fs-4">
            {{ $thisYear }}
          </div>
        {{- end }}
        <div>
          <span>{{ $element.Date.Format "01-02" }}</span>
          <span>
            <a href="{{ $element.RelPermalink }}" class="text-decoration-none">
              {{ .Title }}
            </a>
          </span>
        </div>
      {{- end -}}
    </section>
    <!-- pagination -->
    {{ if or $paginator.Prev $paginator.Next }}
      <nav class="col-lg-8 border-top mt-3 pt-3">
        {{ with $paginator.Prev -}}
          <a class="float-start text-decoration-none" href="{{ .URL }}">
            <i class="bi-arrow-left-circle"></i>
            {{ i18n "prevPage" }}
          </a>
        {{- end }}
        {{ with $paginator.Next -}}
          <a class="float-end text-decoration-none" href="{{ .URL }}">
            {{ i18n "nextPage" }}
            <i class="bi-arrow-right-circle"></i>
          </a>
        {{- end }}
      </nav>
    {{ end }}
  </div>
{{- end }}
