{{ define "main" -}}
  <article>
    <header>
      <h1>{{ .Title }}</h1>
      {{- partial "meta.html" . -}}
    </header>
    {{ if (.Params.toc | default (.Site.Params.toc | default false )) }}
      {{ with .TableOfContents }}
        {{ if ne . "<nav id=\"TableOfContents\"></nav>" }}
          <aside>
            <p style="font-size: 1.5em; font-weight:700; margin: 0 0 .15em;">{{ i18n "TOC" }}</p>
            {{ . }}
          </aside>
        {{ end }}
      {{ end }}
    {{ end }}
    {{ .Content }}
    {{ $currentOutputFormat := (partial "current_output_format.html" .) }}
    {{ if eq $currentOutputFormat.Name "AMP" }}
    {{ else }}
      {{- partial "disqus.html" . -}}
    {{ end }}
  </article>
{{- end }}
