{{ define "main" -}}
  <article>
    <header>
      <h1>{{ .Title }}</h1>
      {{- partial "meta.html" . -}}
    </header>
    {{ if (.Params.toc | default (.Site.Params.toc | default false )) }}
      {{ with .TableOfContents }}
        {{ if ne . "<nav id=\"TableOfContents\"></nav>" }}
          <details id="TableOfContentsWrapper">
            <summary>{{ i18n "TOC" }}</summary>
            {{ . }}
          </details>
        {{ end }}
      {{ end }}
    {{ end }}
    {{ .Content }}
    {{ $currentOutputFormat := (partial "current_output_format.html" .) }}
    {{ if (.Params.enableRelated | default (.Site.Params.enableRelated | default false )) }}
      <hr>
      {{- partial "related.html" . -}}
    {{ end }}
    {{ if eq $currentOutputFormat.Name "amp" }}
    {{ else }}
      {{- partial "disqus.html" . -}}
    {{ end }}
  </article>
{{- end }}
