<article>
  <header>
    <h1 class="mb-0">
      <a class="text-decoration-none" href="{{ .RelPermalink }}"
        >{{ .Title }}</a
      >
    </h1>
    <div class="text-secondary mb-2">
      <span>
        {{ .Date.Format (.Site.Params.dateFormatToUse | default "2006-01-02") }}
      </span>
      {{ with .Params.categories -}}
        <div>
          {{ range . -}}
            <a href="{{ "categories" | relLangURL }}/{{ . | urlize }}/">
              {{ . }}
            </a>
          {{ end -}}
        </div>
      {{- end }}
      {{- if .Site.Params.moreMeta }}
        <span> {{ i18n "wordCount" .WordCount }} </span>
        <span> {{ i18n "readingTime" .ReadingTime }} </span>
      {{- end }}
    </div>
  </header>

  <div>
    <div>
      {{ .Summary }}
    </div>
    <div class="float-end">
      <a href="{{ .RelPermalink }}" class="btn btn-outline-primary"
        >{{ i18n "readMore" }}</a
      >
    </div>
  </div>
</article>
