{{- define "title" }}{{ i18n .Data.Plural }}: {{ .Title }} | {{ .Site.Title }}{{ end -}}
{{- define "main" }}
  <header>
    <h1>{{ i18n .Data.Plural }}: {{ .Title }}</h1>
    <span>{{ i18n "archiveCounter" (len .Pages) }}</span>
  </header>
  {{- $paginator := .Paginate .Pages (.Site.Params.paginate | default 10) -}}
  {{ range $paginator.Pages.GroupByPublishDate "2006" }}
    {{- if ne .Key "0001" }}
      <h2>{{ .Key }}</h2>
      {{ range .Pages }}
        <p>
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
          <span>{{ .PublishDate.Format "01/02" }}</span>
        </p>
      {{ end }}
    {{ end }}
  {{ end }}
  {{ partial "paginator.html" $paginator }}
{{- end }}
