{{- define "title" }}{{ i18n .Data.Plural }} - {{ .Site.Title }}{{ end -}}

{{- define "main" -}}
  {{ $name := .Data.Plural -}}
  {{ $terms := .Data.Terms.ByCount -}}
  {{ $length := len $terms -}}
  <div class="row justify-content-lg-center">
    <div class="col-lg-8 text-center mb-2">
      {{ if eq $length 0 -}}
        {{ i18n "zeroTagCounter" }}
      {{- else -}}
        {{ i18n "tagCounter" $length }}
      {{- end }}
    </div>
    <div class="col-lg-8">
      {{- range $key, $value := $terms }}
        {{ $termURL := print ($name | relLangURL) "/" ($value.Term | urlize) }}
        {{ if $.Site.Params.uglyURLs }}
          {{ $termURL = print $termURL ".html" }}
        {{ else }}
          {{ $termURL = print $termURL "/" }}
        {{ end }}
        <a class="btn btn-secondary m-1" href="{{ $termURL }}">
          {{ $value.Term }}
          <span class="badge rounded-pill bg-dark">{{ $value.Count }}</span>
        </a>
      {{ end -}}
    </div>
  </div>
{{- end }}
