{{- define "title" }}{{ i18n .Data.Plural }} | {{ .Site.Title }}{{ end -}}
{{- define "main" -}}
  {{ $name := .Data.Plural -}}
  {{ $terms := .Data.Terms.ByCount -}}
  {{ $length := len $terms -}}
  {{ $taxonomy := i18n $name (dict "Count" $length) -}}
  <header>
    <h1>{{ i18n .Data.Plural }}</h1>
    <span>
      {{ if eq $length 0 }}
        {{ i18n "zeroTaxonomyCounter" (dict "Taxonomy" $taxonomy) }}
      {{ else }}
        {{ i18n "taxonomyCounter" (dict "Count" $length "Taxonomy" $taxonomy) }}
      {{ end }}
    </span>
  </header>
  {{ range $key, $value := $terms }}
    {{ $termURL := print ($name | relLangURL) "/" ($value.Term | urlize) }}
    {{ if $.Site.Params.uglyURLs }}
      {{ $termURL = print $termURL ".html" }}
    {{ else }}
      {{ $termURL = print $termURL "/" }}
    {{ end }}
    <a href="{{ $termURL }}">#{{ $value.Term }}</a>
    <sup>{{ $value.Count }}</sup>
  {{ end -}}
{{- end }}
