.sc-card {
  border-radius: 0.85em;
  border-width: 1px;
  border-style: solid;
  border-color: #e1e8ed;
  box-sizing: border-box;
  overflow: hidden;
  font-size: 14px;
}

.sc-card a {
  text-decoration: none;
}

.sc-card:hover .sc-card-content {
  background: #F5F8FA;
}

.sc-card-content {
  padding: 1em;
}

.sc-card-content h2 {
  margin: 0 0 0.15em;
  max-height: 1.3em;
  color: #000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sc-card-content p.sc-card-title {
  font-weight: 700;
  font-size: 1.5em;
  line-height: 1.25;
  margin: 0 0 0.15em;
  color: #000;
}

.sc-card-content p.sc-card-details {
  margin: 0;
  color: #000;
}

.sc-card-content span {
  color: #8899A6;
}
