<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">{{ .Site.Title }}</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-3 mb-lg-0">
        {{ $currentPage := . }}
        {{- range .Site.Menus.main -}}
          <li class="nav-item">
            <a
              class="nav-link {{ if eq .URL $currentPage.RelPermalink -}}
                active
              {{- else }}
              {{ end }}"
              href="{{ .URL | safeURL }}"
              >{{ .Name }}</a
            >
          </li>
        {{- end -}}
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            data-bs-toggle="dropdown"
          >
            其他
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li>
              <a class="dropdown-item" href="#">Something else here</a>
            </li>
          </ul>
        </li>
      </ul>
      <form action="https://google.com/search" target="_blank" class="row">
        <div class="col-auto">
          <input
            class="form-control me-2"
            type="search"
            placeholder="{{ i18n "search" }}"
            name="q"
          />
          <input type="hidden" name="q" value="site:https://blog.gimo.me" />
        </div>
        <button class="col-auto btn btn-outline-success" type="submit">
          {{ partial "icons/search.html" . }}
        </button>
      </form>
    </div>
  </div>
</nav>
