<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- Author -->
{{- if .Params.author -}}
  <meta name="author" content="{{ .Params.author | safeHTML }}" />
{{- else -}}
  <meta name="author" content="{{ .Site.Author.name | safeHTML }}" />
{{- end -}}
<!-- Description -->
{{- if .Description -}}
  <meta name="description" content="{{ .Description | safeHTML }}" />
{{- else if .IsPage -}}
  <meta name="description" content="{{ .Summary | plainify }}" />
{{- else if .Site.Params.description -}}
  <meta name="description" content="{{ .Site.Params.description | safeHTML }}" />
{{- end -}}
<!-- Keywords -->
{{- if .Keywords -}}
  <meta name="keywords" content="{{ delimit .Keywords "," }}" />
{{- else if .Site.Params.keywords -}}
  <meta name="keywords" content="{{ delimit .Site.Params.keywords "," }}" />
{{- end }}
<meta name="robots" content="max-image-preview:large" />
<link rel="canonical" href="{{ .Permalink }}" />
<!-- Favicon and Touch icons -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ "apple-touch-icon.png" | relURL }}?v=1630328699" />
<link rel="icon" type="image/png" sizes="32x32" href="{{ "favicon-32x32.png" | relURL }}?v=1630328699" />
<link rel="icon" type="image/png" sizes="16x16" href="{{ "favicon-16x16.png" | relURL }}?v=1630328699" />
<link rel="manifest" href="{{ "site.webmanifest" | relURL }}?v=1630328699" />
<link rel="mask-icon" href="{{ "safari-pinned-tab.svg" | relURL }}?v=1630328699" color="#cf1111" />
<link rel="shortcut icon" href="{{ "favicon.ico" | relURL }}?v=1630328699" />
<meta name="apple-mobile-web-app-title" content="{{ $.Site.Title }}" />
<meta name="application-name" content="{{ $.Site.Title }}" />
<meta name="msapplication-TileColor" content="#b91d47" />
<meta name="theme-color" content="#ffffff" />
{{ template "_internal/opengraph.html" . }}
{{ template "_internal/twitter_cards.html" . }}
{{ template "_internal/schema.html" . }}
{{ range .AlternativeOutputFormats -}}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Title | safeHTML }}
{{ end -}}
{{ with .Site.Params.googleVerification }}
  <meta name="google-site-verification" content="{{ . }}" />
{{ end }}
<link rel="stylesheet" href="/css/awsm.min.css" />
<link rel="stylesheet" href="/css/zoom.css" />
<script src="/js/zoom.min.js"></script>
<style>
nav#TableOfContents li {
    display: block;
}
</style>
