{{ if .IsHome }}
  <h1 class="header__verification">{{ .Site.Title }}</h1>
{{ else }}
  <a class="header__verification" href="{{ "/" | relLangURL }}">{{ .Site.Title }}</a>
{{ end }}
<p class="header__official">Official</p>
<nav>
  <ul>
    {{ $currentPage := . }}
    {{- range .Site.Menus.main -}}
      <li>
        {{ if eq (.URL | relLangURL ) $currentPage.RelPermalink -}}
          {{ .Name }}
        {{ else }}
          <a href="{{ .URL | relLangURL }}">{{ .Name }}</a>
        {{ end }}
      </li>
    {{- end -}}
  </ul>
</nav>
