<div class="post-meta">
  {{ $createDate := .Date.Format (.Site.Params.dateFormatToUse | default "2006-01-02") }}
  {{ $updateDate := .Lastmod.Format (.Site.Params.dateFormatToUse | default "2006-01-02") }}
  <div class="text-secondary">
    {{ $createDate }}
    {{ if ne $createDate $updateDate }}
      (
      {{ with .GitInfo }}
        <a
          href="{{ $.Site.Params.gitRepo }}/commit/{{ .Hash }}"
          title="{{ .Subject }}"
          class="text-decoration-none text-success"
          target="_blank"
          rel="noopener"
          >{{ print $updateDate " " (i18n "updated") }}</a
        >
      {{ else }}
        {{ print $updateDate (i18n "updated") }}
      {{ end }}
      )
    {{ end }}
    &nbsp;·&nbsp;{{ i18n "wordCount" .WordCount }}&nbsp;·&nbsp;{{ i18n "readingTime" .ReadingTime }}

  </div>
  {{ with .Params.tags -}}
    <div>
      {{ range . -}}
        <a
          class="badge rounded-pill bg-dark text-light text-decoration-none"
          href="{{ "tags" | relURL }}/{{ . | urlize }}/"
        >
          #{{ . }}
        </a>
      {{ end -}}
    </div>
  {{- end }}

</div>
