{{ $related := .Site.RegularPages.Related . }}
{{ $related = where $related "Draft" "eq" false | first 5 }}
{{ if (.Params.enableRelated | default (.Site.Params.enableRelated | default false)) }}
  {{ with $related }}
    <aside>
      <h2>{{ i18n "seeAlso" }}</h2>
      <ul class="pages-list">
        {{ range . }}
          <li>
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            <small
              ><time datetime="{{ partial "rfc3339.html" .PublishDate }}"
                >{{ .PublishDate.Format (site.Params.dateFormatToUse | default "2006-01-02") }}</time
              ></small
            >
          </li>
        {{ end }}
      </ul>
    </aside>
  {{ end }}
{{ end }}
