{{ define "main" }}
  <div class="row justify-content-lg-around">
    <section class="col-lg-8" id="posts">
      {{- $paginator := .Paginate (where (where
        .Site.RegularPages "Type" "post") ".Params.hiddenfromhomepage" "!=" true)
      }}
      {{- range $paginator.Pages -}}
        {{ .Render "summary" }}
        <hr />
      {{ end -}}
    </section>
    <!-- pagination -->
    <nav class="col-lg-8">
      {{ with $paginator.Prev -}}
        <a class="float-start text-decoration-none" href="{{ .URL }}">
          <i class="bi-arrow-left-circle"></i>
          {{ T "prevPage" }}
        </a>
      {{- end }}
      {{ with $paginator.Next -}}
        <a class="float-end text-decoration-none" href="{{ .URL }}">
          {{ T "nextPage" }}
          <i class="bi-arrow-right-circle"></i>
        </a>
      {{- end }}
    </nav>
  </div>
{{ end }}
